<!DOCTYPE html>
<html ng-app="MyFirstApp"><!--CONTENGO UN DOCUMENTO ANGULARJS-->
<head>
	<title>Angular JS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="ANGULARJS-5.js"></script>
</head>
<body ng-controller="FirstController">
	<input type="text" ng-model="nombre">
	{{"Hola "+ nombre}}
	<li ng-repeat="comentario in comentarios">
		{{comentario.comentario}} -<strong>{{comentario.username}}</strong>
	</li>
	<input type="text" ng-model="nuevoComentario.comentario"></br>
	<input type="text" ng-model="nuevoComentario.username"></br>
	<button ng-click="agregarComentario()">Agregar Comentario</button>
</body>
</html>